@using System.Net.Http
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Components.Routing
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.AspNetCore.Components.Web.Virtualization
@using Microsoft.JSInterop

<div class="page">
	<main>
		<article class="content px-4">

			<div class="card">
				<div class="card-header">
					Barcode Scanner
				</div>
				<div class="card-body">
					<p>Barcode Scanner Demo</p>
					<p>Version 1.0.0</p>
				</div>
			</div>

		</article>
	</main>
</div>

@code {

}
